<div class="row featured__right col-xl-10 col-lg-10 col-md-12 col-12">
	<div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="p:${items}">
		<div class="featured__item">
			<div class="featured__item__pic set-bg"
				data-setbg="img/featured/feature-1.jpg">
				<a th:href="@{|/product/detail/${p.url}|}"><img  alt="" th:src="@{|/img/product/${p.image}|}"></a>

				<ul class="featured__item__pic__hover">
					<li><a class="popup-btn"><i class="fa fa-retweet"></i></a></li>
				</ul>
			</div>
			<div class="featured__item__text">
				<h6>
					<a href="#">[[${p.name}]]</a>
				</h6>
				<h5>$ [[${p.price}]]</h5>
			</div>
		</div>
		<div class="popup-view">
			<div class="popup-card">
				<a><i class="fas fa-times close-btn"></i></a>
				<div class="product-featured-image">
					<img th:src="@{|/img/product/${p.image}|}" alt="">
				</div>
				<div class="info">
					<h2>[[${p.name}]]</h2>
					<p>[[${p.description}]]</p>
					<span class="price">$ [[${p.price}]]</span>
					<div class="products-size">
						<label for=""><strong>Size</strong></label>
						<div class="size-swap">
							<div class="n-sd size_item" data-value="s">
								<input type="radio" class="size_radio" id="size_s" name="option"
									value="S"> S
							</div>
							<div class="n-sd size_item" data-value="l">
								<input type="radio" class="size_radio" id="size_l" name="option"
									value="L"> L
							</div>
							<div class="n-sd size_item" data-value="xl">
								<input type="radio" class="size_radio" id="size_xl"
									name="option" value="XL"> XL
							</div>
						</div>
					</div>
					<a th:attr="ng-click=@{|cart.add(${p.id})|}" class="add-cart-btn">ADD TO CART</a> <a href="#"
						class="add-wish">ADD TO WISHLIST</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<nav class="align-center" aria-label="Page navigation example ">
			<!-- Page produt -->
			<th:block>
				<th:block th:if="!${url} and !${search} and !${price} and !${keyword} and !${cates}">
					<ul class="pagination ">
						<li class="page-item"><a class="page-link" th:href="@{/product/list?page=0}">First </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number > 0}" 
						th:href="@{|/product/list?page=${items.number -1} |}" >Previous </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number < 8}"
						th:href="@{|/product/list?page=${items.number + 1} |}" >Next</a></li>	
						<li class="page-item"><a class="page-link" th:href="@{|/product/list?page=${items.totalPages - 1} |}">Last</a></li>
					</ul>
				</th:block>
			<!-- Page cate -->
				<th:block th:if="${url} or !${cates}">
					<ul class="pagination ">
						<li class="page-item"><a class="page-link" th:href="@{|/product/list?cate=${url}&&page=0|}">First</a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number > 0}"
						 th:href="@{|/product/list?cate=${url}&&page=${items.number -1} |}" >Previous </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number < items.totalPages - 1}"
						th:href="@{|/product/list?cate=${url}&&page=${items.number + 1} |}" >Next</a></li>	
						<li class="page-item"><a class="page-link" th:href="@{|/product/list?cate=${url}&&page=${items.totalPages - 1} |}">Last</a></li>
					</ul>
				</th:block>
			<!-- Page Search -->
				<th:block th:if="${search}">
					<ul class="pagination ">
						<li class="page-item"><a class="page-link" th:href="@{/product/list?search=${search}&&page=0}">First </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number > 0}"
						th:href="@{|/product/list?search=${search}&&page=${items.number -1} |}" >Previous </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number < items.totalPages}"
						th:href="@{|/product/list?search=${search}&&page=${items.number + 1} |}" >Next</a></li>	
						<li class="page-item"><a class="page-link" 
						th:href="@{|/product/list?search=${search}&&page=${items.totalPages - 1} |}">Last</a></li>
					</ul> 
				</th:block>
				
			<!-- Page filter -->
				<th:block th:if="${price} and !${keyword}">
					<ul class="pagination ">
						<li class="page-item"><a class="page-link" th:href="@{/products_filter?page=0}">First </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number > 0}"
						th:href="@{|/products_filter?count=${price}&&page=${items.number -1} |}" >Previous </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number < items.totalPages}"
						th:href="@{|/products_filter?count=${price}&&page=${items.number + 1} |}" >Next</a></li>	
						<li class="page-item"><a class="page-link" 
						th:href="@{|/products_filter?count=${price}&&page=${items.totalPages - 1} |}">Last</a></li>
					</ul> 
				</th:block>
				
			<!-- Page filter name by price -->
				<th:block th:if="${keywords} and ${searchs} and !${search}">
					<ul class="pagination ">
						<li class="page-item"><a class="page-link" th:href="@{|/product/search/${keyword}?count=${price}&&?page=0|}">First </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number > 0}"
						th:href="@{|/product/search/${keyword}?count=${price}&&?page=${items.number -1}|}" >Previous </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number < items.totalPages -1}"
						th:href="@{|/product/search/${keyword}?count=${price}&&?page=${items.number + 1}|}" >Next</a></li>	
						<li class="page-item"><a class="page-link" 
						th:href="@{|/product/search/${keyword}?count=${price}&&?page=${items.totalPages - 1}|}">Last</a></li>
					</ul> 
				</th:block>
				
			<!-- Page filter category by price -->
				<th:block th:if="${cates} and !${url}">
					<ul class="pagination ">
						<li class="page-item"><a class="page-link" th:href="@{|/product/list/${cates}?count=${price}&&?page=0|}">First </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number > 0}"
						th:href="@{|/product/search/${keyword}?count=${price}&&?page=${items.number -1}|}" >Previous </a></li>
						<li class="page-item"><a class="page-link" th:if="${items.number < items.totalPages -1}"
						th:href="@{|/product/search/${keyword}?count=${price}&&?page=${items.number + 1}|}" >Next</a></li>	
						<li class="page-item"><a class="page-link" 
						th:href="@{|/product/search/${keyword}?count=${price}&&?page=${items.totalPages - 1}|}">Last</a></li>
					</ul> 
				</th:block>
				
			</th:block>
		</nav>
	</div>
</div>